{% extends 'cinema/index.html' %}

{% block info %}
<div class="py-2 mb-2" style="background-color: rgb(206, 208, 210);">
    Cinemas
</div>
<!-- cinemas -->

<div class="d-flex flex-column  ">
    <!--cinema modal toggle-->
    <button class="w-25 rounded mt-2" data-bs-toggle="modal" data-bs-target="#cinemaModal">
        <i class="bi bi-file-earmark-plus">
            Add cinema
        </i></button>
    <div class="row">

        {% for post in posts %}
        <div class="col-3">

            <button class="btn btn-outline-secondary my-2"
                    id="cinema_name">{{ post['cinema_name'] }}</button>
        </div>
        {% endfor %}
    </div>
</div>
<!-- cinemaModal -->
<div class="modal fade" id="cinemaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Movie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" class="w-50">
                    <div class="form-group">
                        <label for="cinema_name">cinema_name</label>
                        <input type="cinema_name" class="form-control my-3" name="cinema_name" id="cinema_name"
                            required>
                    </div>
                    <input type="submit" value="Add" class="btn btn-primary ">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}