<div class="col-sm">

    <label for="cinemas">Choose a cinema:</label>

    <select name="cinema_id" id="cinema_name" onchange="change_seats()">
        {% for cinema in cinemas %}
        <option value="{{ cinema['id'] }}">{{ cinema['cinema_name'] }}</option>
        {% endfor %}
    </select>
</div>
<div class="col-sm">

    <label for="seats">Choose a seats room:</label>

    <select name="seat_id" id="seat_number" onchange="change_movies()">
        {% for seat in seats %}
        <option value="{{ seat['id'] }}">{{ seat['seat_number'] }}</option>
        {% endfor %}
    </select>
</div>
<script>
    function change_seats() {
        var cinema_target = document.getElementById('cinema_name')
        var cinema_val = cinema_target.options[cinema_target.selectedIndex].value;
        var seat_target = document.getElementById('seat_number')

        while (seat_target.options.length) {
            seat_target.remove(0)
        }
        $.ajax({
            url: '/ajax_seats/' + cinema_val,
            type: 'GET',
        }).done(function (data) {
            // console.log(data)
            data.map(x => {
                var item = new Option(x.seat_number, x.id)
                seat_target.options.add(item)
            })
        })
    }
    function change_movies() {
        var cinema_target = document.getElementById('cinema_name')
        var cinema_val = cinema_target.options[cinema_target.selectedIndex].value;
        var seat_target = document.getElementById('seat_number')
        var seat_val = seat_target.options[seat_target.selectedIndex].value;
        var movie_target = document.getElementById('movie_name')

        while (movie_target.options.length) {
            movie_target.remove(0)
        }
        $.ajax({
            url: '/ajax_movies/' +seat_val+'/'+ cinema_val,
            type: 'GET',
        }).done(function (data) {
            // console.log(data)
            data.map(x => {
                var item = new Option(x.movie_name, x.id)
                movie_target.options.add(item)
            })
        })
    }

    
</script>